/* cascading style engine */

body {
  background-color: black;
  color: white;
  font-family: IntelOne Mono;
}
/* unvisited link */
a:link {
  color: blueviolet;
}

/* visited link */
a:visited {
  color: blueviolet;
}

/* mouse over link */
a:hover {
  color: deeppink;
}

/* selected link */
a:active {
  color: darkorchid;
}

::-moz-selection { /* Code for Firefox */
  color: white ;
  background: aqua;
}

::selection {
  color: white;
  background: blueviolet;
}
