/* barnacl's cascading style engine */

meta {
  version: 1.5b-spook
}

body {
  background-color: black;
  color: white;
  font-family: 'Intel One Mono';
}
/* unvisited link */
a:link {
  color:lightsalmon;
}

/* visited link */
a:visited {
  color: #da956dde;
}

/* mouse over link */
a:hover {
  color: rgb(20, 255, 243);
}

/* selected link */
a:active {
  color: deepblue;
}

::-moz-selection { /* Code for Firefox */
  color: white ;
  background: aqua;
}

::selection {
  color: white;
  background: blueviolet;
}

h1 {
  font-size: 2.1em; 
}

@font-face {
  font-family: 'Intel One Mono'; src: url('IntelOneMono-Regular.ttf');
}


 .navbar {
text-align: center;
background-color:rgb(4, 6, 37);
}