body {
  background-color: darkred;
  color: lightyellow;
  font-family: Intel One Mono;
}
/* unvisited link */
a:link {
  color: lightgreen;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: deeppink;
}

/* selected link */
a:active {
  color: green;
}

@font-face {
  font-family: 'Intel One Mono'; src: url('IntelOneMono-Regular.ttf');
}
